.container{
    display:flex;
    flex-direction:column;
    width: 23%;
    height:600px;
    overflow:hidden;
    justify-content:space-between;
    position: relative;
}

.CardContainer{
    display:flex;
    flex-direction:column;
    background-color:#EDEDED;
    height:25%;
    padding: 3%;
    gap: 20px;
}

.NameProduct{
    font-size:20px;
    font-weight:400;
}
.ProductPrice{
    text-align:start;
    margin-left: 20px;
}

.ProductPrice > span:first-child{
    font-size:24px;
    font-weight:500;
    color: #6C757D;
    text-decoration:line-through;
    margin-right: 3%;
}

.ProductPrice > span:last-child{
    font-size:24px;
    font-weight:500;
    color: #4938B5;
    margin-right: 5%;
}

.BuyButton{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height:30%;
    background-color:#4938B5;
    color:white;
    text-align:center;
    text-decoration: none;
    margin-left: 4%;
}

.containerImage{
    position: relative;
    text-align:center;
    padding:10px;
}
.productoNew{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    background-color:#5943E3;
    height: 20%;
    width: 20%;
    font-size: 22px;
    color:white;
    text-align: start;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.productoDescuento{
    color:white;
    position: absolute;
    right: 0;
    top: 5%;
    padding-top:15px;
    text-align: center;
    background-color:#D12727;
    width: 15%;
    height: 40px;
    border-radius: 50%;
    font-size:23px;
    font-weight:bold;

}