.container{
    margin-top:6%;
    width:100%;
    padding:3%;
}


.container:first-line{
    font-size:32px;
}

.container > h2{
    word-spacing: 9999px;
    width:60%;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 60px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: justify;
    color: #1D0D85;
}


.containerImages {
    margin-top:4%;
    margin-left: 3;
    width:90%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 2.16fr;
    grid-template-rows: 430px;
    justify-content:center;
}

.containerImages > img {
    object-fit: cover;
    width: 100%;

}

.Top{
    
    grid-column: 1 / span 2;
}
.grande{
    grid-column: 3 ;
    grid-row: 1 / span 3;
}

.chico{
    height: 100%;
    grid-column: 1 ;
    grid-row: 2 ;
}
.chico2{
    grid-column: 2 ;
    grid-row: 2 ;
}





  
