.TopBar{
    background-color: #4938B5;
    width: 100%;
    color:white;
    text-align:center;
    padding:10px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

.container{
    width:100%;
  }
  
.navBar{
    padding:20px;
    width:100%;
    display:flex;
    gap:40%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navBarList{
    display:flex;
    gap:20px;
    list-style: none;
}

.navBarItem > a{
    color:#1D0D85;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.Slider{
    width:100%;
}