.container{
    width: 100%;
}

.containerProduct{
    width: 95%;
    padding:2%;
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 30px;
    font-size: 20px;
    font-weight:500;
}