.Container{
    width: 100%;
    height: 20%;
    background-color:#EDEDED;
    padding:70px;
}

.InfoContainer{
    width: 90%;
    display:flex;
    justify-content: space-around;
    gap: 200px;
    align-items: center;
}

.textContainer{
    display: flex;
    flex-direction:column;
    gap:15px;
}

.textContainer > h3{
    color: #272727;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.textContainer > p{
    color:#72757E;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.inputContainer{
    display: flex;
    gap: 10px;
}

.input{
    width: 500px;
    border: none;
}

.input:focus{
    outline:none;
}

.SubscribeButton{
    color: #fff;
    background-color:#4938B5;
    width:150px;
    font-size: 16px;
    padding:10px;
    border-radius: 50px;
    border: none;
}